logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID

# general
*~
*.log
tmp
dump

# Eclipse
.cache
.scala_dependencies
bin

# SBT
dist
project/boot
project/target
project/plugins/target
target
.target

# Gradle
.gradle
build
server.iml

